body:after { 

content: "";
background: url("../images/shoes.png");
opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 


}

*body {
    display: inline-block;
}


h1 {
    font-size: 70px;
    text-align: center;
    font-style: bold;
    color: #222E50;
    margin: 20px;
}


#myForm, #weather {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: #222E50;
    font-style: bold;
    padding-top: 20px;
    
}


#demo {
    display:block;
    margin-top: 10px;
     margin-left: auto;
  margin-right: auto;
}



input[type=button] {
    background-color: #0B4C5F;
   color: white;
   font-size: 29px;
    border: none;
    padding: 32px 64px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=number] {
    background-color: #A9D0F5;
	border: 2px green;
    border-radius: 4px;
    padding: 16px 16px;

}

#demo {
    display: inline-box;
    margin-left: auto;
    margin-right: auto;
}

